/*сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    width: 15rem;
    height: 5rem;
    margin: 1rem;
    cursor: pointer;
}

/* Основные стили */

html {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.6;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vw;
}

.logo img {
    height: 7vw;
}

/* Navbar */

nav ul {
    display: flex;
}

nav ul li {
    display: inline;
}

nav a {
    justify-content: space-between;
    align-items: center;
    margin: 1.5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

nav li:last-child {
    background: url(../images/search.png) no-repeat;
    background-size: 1rem;
    background-position: center;
}

/* About Us Block */

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* About Us Block Item */

section.about-item {
    
}

.about-item img {
    width: 6rem;
}
