/*сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* Основные стили */

html {
    font-family: "Montserrat", sans-serif;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vw;
}

.logo img {
    height: 7vw;
}

/* Navbar */

nav ul {
    display: flex;
}

nav ul li {
    display: inline;
}

nav a {
    justify-content: space-between;
    align-items: center;
    line-height: 3;
    letter-spacing: 0.1rem;
    margin: 1.5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

nav li:last-child {
    background: url(../images/search.png) no-repeat;
    background-size: 1rem;
    background-position: center;
}
