/*сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* Основные стили */

html {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0 10vw;
}

/* Header */

/* TODO: Явно не задана высота хедера(размер выставляет путем нахождения максимальной высоты внутреннего блока).
    При большом viewport из-за того, что не установлены max-min для картинки - у headera будет слишком большая высота! */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TODO: При установке размера от viewport на блоки необходимо задавать max-min размеры. */
.logo img {
    width: 10vw;
    height: 10vw;
}

/* TODO: Почитай обязательно, как правильно делать меню в HTML5 */
nav a {
    letter-spacing: 0.1rem;
    margin: 1.5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}


